<div>
  <svg-container height="500" [viewBox]="[0,0,850,300]">
    <svg-text *ngFor="let item of areasCoordinates"  text="{{item.type}}" [x]="item.xcoordinate" [y]="item.ycoordinate">
      <svg-rect color="{{getColor()}}" height="{{item.height}}"  width="{{item.weight}}" x="{{item.xcoordinate}}" y="{{item.ycoordinate}}">
        <div *ngFor="let user of this.userCoordinates">
          <svg-ellipse (mouseOverEvent)="getUserName(user.name)" *ngFor="let item of user.coordinates" [x]="item.xcoordinate" [y]="item.ycoordinate" height="10" width="10" [color]="getPointColor(user.name)" > </svg-ellipse>
        </div>
      </svg-rect>
    </svg-text>
  </svg-container>
</div>




